@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  width: 450px;
  left: 50%;
  top: 30px;
  transform: translate(-50%);
}

@media screen and (max-width: 640px) {
  .navbar {
    width: 350px;
    gap: 1px;
  }
}
